<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>车辆信息</title>
</head>
<body class="hold-transition skin-black sidebar-mini">
<div th:replace="common/fragment :: link"></div>
<div class="wrapper">
    <div th:replace="common/fragment :: navbar"></div>
    <div th:replace="common/fragment :: menu"></div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>车辆新增与修改</h1>
        </section>
        <section class="content">
            <div class="box">
                <form class="form-horizontal" action="/admin/courseSaveOrUpdate" method="post" id="editForm">

                    <input type="hidden" name="id" th:value="${course?.id}">

                    <span th:if="${course?.id != null}">
                        <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">车辆名：</label>
                            <div class="col-sm-6">
                                <input disabled type="text" class="form-control" name="cname" placeholder="请输入车辆名"
                                       th:value="${course?.cname}">
                            </div>
                        </div>
                    </span>

                    <span th:if="${course?.id == null}">
                        <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">车辆名：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="cname" placeholder="请输入车辆名"
                                       th:value="${course?.cname}">
                            </div>
                        </div>
                    </span>

                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">类型：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="type" placeholder="请输入车辆类型"
                                   th:value="${course?.type}">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">工时：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="class_hour" placeholder="请输入工时"
                                   th:value="${course?.class_hour}">
                        </div>
                    </div>
                    <div class="form-group" id="roleDiv">
                        <label for="role" class="col-sm-2 control-label">负责员工：</label><br/>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-sm-2 col-sm-offset-2">
                                <select multiple class="form-control allTeachers" id="role" style="height: 350px;"
                                        size="15">
                                    <option th:each="teacher:${allTeachers}"
                                            th:value="${teacher?.id}"
                                            th:text="${teacher?.name}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-1" style="margin-top: 60px;" align="center">
                                <div>

                                    <a type="button" class="btn btn-primary  " style="margin-top: 10px" title="右移动"
                                       onclick="moveSelected('allTeachers', 'selfTeachers')">
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </a>
                                </div>
                                <div>
                                    <a type="button" class="btn btn-primary " style="margin-top: 10px" title="左移动"
                                       onclick="moveSelected('selfTeachers', 'allTeachers')">
                                        <span class="glyphicon glyphicon-menu-left"></span>
                                    </a>
                                </div>
                                <div>
                                    <a type="button" class="btn btn-primary " style="margin-top: 10px" title="全右移动"
                                       onclick="moveAll('allTeachers', 'selfTeachers')">
                                        <span class="glyphicon glyphicon-forward"></span>
                                    </a>
                                </div>
                                <div>
                                    <a type="button" class="btn btn-primary " style="margin-top: 10px" title="全左移动"
                                       onclick="moveAll('selfTeachers', 'allTeachers')">
                                        <span class="glyphicon glyphicon-backward"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <select multiple class="form-control selfTeachers" style="height: 350px;" size="15"
                                        name="teachersIds">
                                    <option th:each="teacher:${selfTeachers}"
                                            th:value="${teacher?.id}"
                                            th:text="${teacher?.name}">
                                    </option>
                                </select>
                            </div>
                            <!--<div class="col-sm-2">-->
                            <!--    <select multiple class="form-control selfRoles" style="height: 350px;" size="15"-->
                            <!--            name="roleIds">-->
                            <!--        <option th:each="role:${selfRoles}"-->
                            <!--                th:value="${role?.id}"-->
                            <!--                th:text="${role?.name}">-->
                            <!--        </option>-->
                            <!--    </select>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-submit">保存</button>
                            <a href="javascript:window.history.back()" class="btn btn-danger">取消</a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div th:replace="common/fragment :: footer"></div>
</div>
<script>
    //左右移动
    function moveAll(src, target) {
        $("." + target).append($("." + src + " > option "))
    }

    function moveSelected(src, target) {
        $("." + target).append($("." + src + " > option:selected "))
    }

    //去重
    $(function () {
        var array = [];
        $(".selfTeachers > option").each(function (index, domEle) {
            array.push($(domEle).val())
        })
        $(".allTeachers > option").each(function (index, domEle) {
            if ($.inArray($(domEle).val(), array) >= 0) {
                $(domEle).remove()
            }
        })
    })


    $("#editForm").bootstrapValidator({
        feedbackIcons: { // 图标
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: { // 配置要验证的字段
            cname: {
                validators: {
                    notEmpty: { // 不能为空
                        message: "课程名不能为空" // 错误时的提示信息
                    },
                    remote: {
                        type: 'POST',
                        url: '/admin/checkCname',
                        message: "课程已存在"
                    }
                }
            },
            type: {
                validators: { // 验证的规则
                    notEmpty: { // 不能为空
                        message: "类型不能为空" // 错误时的提示信息
                    },
                }
            },
            class_hour: {
                validators: {
                    notEmpty: { // 不能为空
                        message: "课时不能为空" // 错误时的提示信息
                    },
                }
            },
        }
    }).on('success.form.bv', function (e) {
        // 阻止表单提交
        e.preventDefault();
        $('.selfTeachers > option').prop('selected', 'true');
        // TODO 这里可以改成用异步的方式提交表单
        var course = $("#editForm").serialize();
        $.post(
            '/admin/courseSaveOrUpdate',
            course,
            function (data) {
                if (data.success) {
                    Swal.fire({
                        title: '保存成功！',
                        icon: 'success',
                    }).then((result) => {
                        if(result.value) {
                            location.href = "/admin/courseList"
                        }
                    });
                } else {
                    Swal.fire({
                        title: data.msg,
                        icon: 'warning',
                    })
                }
            }
        )
    });
</script>
</body>
</html>