<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>客户信息</title>
</head>
<body class="hold-transition skin-black sidebar-mini">
<div th:replace="common/fragment :: link"></div>
<div class="wrapper">
    <div th:replace="common/fragment :: navbar"></div>
    <div th:replace="common/fragment :: menu"></div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>客户新增与修改</h1>
        </section>
        <section class="content">
            <div class="box">
                <form class="form-horizontal" action="/admin/teacherSaveOrUpdate" method="post" id="editForm">

                    <input type="hidden" name="id" th:value="${teacher?.id}">

                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">客户编号：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="tnum" placeholder="请输入客户编号"
                                   th:value="${teacher?.tnum}">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">客户用户名：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="username" placeholder="请输入客户用户名"
                                   th:value="${teacher?.username}">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">客户密码：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="password" placeholder="请输入密码"
                                   th:value="${teacher?.password}">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">真实姓名：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="name" placeholder="请输入真实姓名"
                                   th:value="${teacher?.name}">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">年龄：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="age" placeholder="请输入年龄"
                                   th:value="${teacher?.age}">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">地址：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="address" placeholder="请输入地址"
                                   th:value="${teacher?.address}">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">性别：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="sex" placeholder="请输入性别"
                                   th:value="${teacher?.sex}">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">邮件：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="email" placeholder="请输入邮件信息"
                                   th:value="${teacher?.email}">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">昵称：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="p_title" placeholder="请输入昵称"
                                   th:value="${teacher?.p_title}">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label">车位：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="dept" placeholder="请输入所属车位"
                                   th:value="${teacher?.dept}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-submit">保存</button>
                            <a href="javascript:window.history.back()" class="btn btn-danger">取消</a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div th:replace="common/fragment :: footer"></div>
</div>
<script>

    $("#editForm").bootstrapValidator({
        feedbackIcons: { // 图标
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: { // 配置要验证的字段
            tnum: {
                validators: {
                    notEmpty: { // 不能为空
                        message: "教师工号不能为空" // 错误时的提示信息
                    },
                }
            },
            username: {
                validators: { // 验证的规则
                    notEmpty: { // 不能为空
                        message: "用户名不能为空" // 错误时的提示信息
                    },
                }
            },
            password: {
                validators: {
                    notEmpty: { // 不能为空
                        message: "密码不能为空" // 错误时的提示信息
                    },
                }
            },
            name: {
                validators: {
                    notEmpty: { // 不能为空
                        message: "真实姓名不能为空" // 错误时的提示信息
                    },
                }
            },
            age: {
                validators: {
                    notEmpty: { // 不能为空
                        message: "年龄不能为空" // 错误时的提示信息
                    },
                }
            },
            address: {
                validators: {
                    notEmpty: { // 不能为空
                        message: "地址不能为空" // 错误时的提示信息
                    },
                }
            },
            sex: {
                validators: {
                    notEmpty: { // 不能为空
                        message: "性别不能为空" // 错误时的提示信息
                    },
                }
            },
            email: {
                validators: {
                    notEmpty: { // 不能为空
                        message: "邮件不能为空" // 错误时的提示信息
                    },
                }
            },
            p_title: {
                validators: {
                    notEmpty: { // 不能为空
                        message: "职称不能为空" // 错误时的提示信息
                    },
                }
            },
            学院: {
                validators: {
                    notEmpty: { // 不能为空
                        message: "所属学院不能为空" // 错误时的提示信息
                    },
                }
            },
        }
    }).on('success.form.bv', function (e) {
        // 阻止表单提交
        e.preventDefault();
        $('.selfTeachers > option').prop('selected', 'true');
        // TODO 这里可以改成用异步的方式提交表单
        var course = $("#editForm").serialize();
        $.post(
            '/admin/teacherSaveOrUpdate',
            course,
            function (data) {
                if (data.success) {
                    Swal.fire({
                        title: '保存成功！',
                        icon: 'success',
                    }).then((result) => {
                        if(result.value) {
                            location.href = "/admin/teacherList"
                        }
                    });
                } else {
                    Swal.fire({
                        title: data.msg,
                        icon: 'warning',
                    })
                }
            }
        )
    });
</script>
</body>
</html>